.header {

    &__logo-box {
        padding: 4rem;
    }

    &__logo {
        height: 5rem;
    }

    &__packages {
        position: relative;
        z-index: 99;
        animation: fadeIn 1500ms ease-out 600ms;
        animation-fill-mode: backwards;

        &--1 {
            position: absolute;
            top: 0;
            right: -5rem;

            img {
                height: 5rem;
                -webkit-filter: drop-shadow(5px 5px 5px #222);
                filter: drop-shadow(5px 5px 10px rgba(#000, .3));
            }

            @include respond(tab-port) {
                right: 5rem;
            }
        }

        &--2 {
            position: absolute;
            top: 15rem;
            left: -5rem;

            img {
                height: 7rem;
                -webkit-filter: drop-shadow(5px 5px 5px #222);
                filter: drop-shadow(5px 5px 10px rgba(#000, .3));
            }

            @include respond(tab-port) {
                left: 2rem;
            }
        }

        &--3 {
            position: absolute;
            top: 25rem;
            right: -4rem;

            img {
                height: 10rem;
                -webkit-filter: drop-shadow(5px 5px 5px #222);
                filter: drop-shadow(5px 5px 10px rgba(#000, .3));
            }

            @include respond(tab-port) {
                right: 3rem;
            }
        }

        &--4 {
            position: absolute;
            top: 45rem;
            left: -5rem;

            img {
                height: 12rem;
                -webkit-filter: drop-shadow(5px 5px 5px #222);
                filter: drop-shadow(5px 5px 10px rgba(#000, .3));
            }

            @include respond(tab-port) {
                left: 1rem;
            }
        }
    }

    &__phone-image {
        position: relative;
        animation: moveInRight 600ms ease-out;
        text-align: center;
        padding: 2rem;
        z-index: 2;

        img {
            height: 50rem;
            animation:translateY 10s infinite linear;
            -webkit-filter: drop-shadow(5px 5px 5px #222);
            filter: drop-shadow(5px 5px 30px rgba(#000, .5));
        }
    }

    &__effect {
        position: relative;
        animation: moveInRight 600ms ease-out;
        height: 10px;
        z-index: 1;

        img {
            transform: translate(-3rem, -10rem);
        }

        @include respond(tab-port) {
            margin-bottom: 6rem;
        }
    }

    &__carousel {
        animation: moveInBottom 600ms ease-out;

        .company-slider  {
            padding: 0 5rem;

            .company-items {
                color: rgba($color-white, .8);
                display: flex;

                p {
                    font-size: 1.2rem;
                    padding: 0 3rem 0 2rem;

                    span {
                        display: block;
                    }
                }

                .fal {
                    font-size: 3.5rem;
                    color: $color-primary;
                }
            }
        }
    }
}
