body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: rgba($color-white, .5);
}

.heading-primary {
    color: rgba($color-white, .8);
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 1rem;

    &--main {
        display: block;
        font-size: 4rem;
        font-weight: 800;

        animation: moveInLeft 600ms ease-out;

        @include respond(phone) {
            font-size: 4rem;
        }
    }

    &--sub {
        display: block;
        font-size: 7.5rem;
        font-weight: 800;
        color: rgba($color-primary, 1);
        line-height: 1;

        animation: moveInLeft 600ms ease-out;

        @include respond(phone) {
            font-size: 6rem;
        }
    }
}

.paragraph {
    font-size: $default-font-size;
    animation: moveInLeft 600ms ease-out;
    width: 70%;

    @include respond(tab-port) {
        width: 100%;
    }

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}
